@model ViewModelMovieForm;
@{
    ViewData["Title"] = "Movie Form..";
}

 @{
    int currentYear = DateTime.Now.Year;
    List<int> years = new List<int>();
    for (int i = 1910; i <= currentYear; i++)
    {
        years.Add(i);
    }
 }
<h2> Create Movie </h2>
<hr />
<section class="row justify-content-between">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label class="text-muted" asp-for="Title"></label>
                <input type="text" class="form-control" asp-for="Title" maxlength="250" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="GenreID"></label>
                <select class="form-control" asp-for="GenreID" asp-items="@(new SelectList(Model.genres,"GenreID","Name"))">
                    <option disabled selected> Choose Gendre: </option>
                </select>
                <span asp-validation-for="GenreID" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label class="text-muted" asp-for="Year"></label>
                <select class="form-control" asp-for="Year">
                    <option disabled selected> Select Year: </option>
                    @foreach (var year in years)
                    {
                        <option value="@year"> @year </option>
                    }
                </select>
                <span asp-validation-for="GenreID" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <label class="text-muted" asp-for="Rate"></label>
                <input type="number" class="form-control" asp-for="Rate"min="1" max="10" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-muted" asp-for="StoryLine"></label>
                <textarea class="form-control" asp-for="StoryLine"maxlength="2500"rows="4"></textarea>
                <span asp-validation-for="StoryLine" class="text-danger"></span>
            </div>
            <div class="form-group custom-file">
                <input type="file" class="custom-file-input" asp-for="Poster"/>
                <label class="custom-file-label" asp-for="Poster"></label>
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-check2"></i>Save</button>
            <a asp-action="Index" class="btn btn-outline-dark mt-4">
                <i class="bi bi-x-circle"></i>
                Cancel
            </a>

        </form>
    </div>
    <div class="col-md-4">
        <div id="Poster-container" class="d-none">
            <img src="" alt="Poster" class="img-thumbnail" />
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Poster').on('change', function () {
                var selectedFile = $(this).val().split('\\').pop()
                    ; // return the last element in img path
                $(this).siblings('label').text(selectedFile);
                var img = URL.createObjectURL(this.files[0]); 
                var posterContainer = $('#Poster-container');
                posterContainer.removeClass('d-none');
                posterContainer.find('img').attr('src', img);
            });

        });
    </script>
}
